.post-thread {
      font-family: 'Vollkorn SC', serif !important;
}
.post {
      font-family: 'Vollkorn SC', serif !important;
}
.post-card {
    background: rgba(148, 189, 250, 0.686) !important 
}