.post-header {
    display: flex; 
    flex-direction: column;
    width: 80vw
}
.title-input {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    z-index: 950;
    padding: 2%
}
.title {
    height: 5vh
}
.story-input {
    display: flex;
    flex-direction: column;
    justify-content: center
}
.story-input textarea {
    font-family: 'Vollkorn SC', serif !important
}
.button {
    display: flex;
    margin: auto
}
.post-snackbar {
    width: 35vw;
    text-align: center;
    font-family: 'Vollkorn SC', serif !important
}