.post {
    width: 100%;
    height: 80%;
    
}

@media (min-width: 700px){
    .post {
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
}