.profile-info {
    display: flex;
    justify-content: space-around;
    border: 5px solid rgba(255, 255, 255, 0.597);
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.796);
    background: rgba(255, 255, 255, 0.33) ;
    padding: 2%;

}
.edit {
    text-align: top;
    font-size: 10px;

}
.user-bio {
    border: 5px solid rgba(255, 255, 255, 0.597);
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.796);
    background: rgba(255, 255, 255, 0.33) ;
    padding: 2%;
}

.user-bio-input {
    width: 100% !important 
}
.user-links {
    display: flex;
    flex-direction: column;
}
.url-input-addon {
    display: flex;
    margin: auto;
    
}
.user-link-input {
    width: 30vw;
}
.contributions {
    display: flex;
    justify-content: space-around
}