.header-container {
    display: flex;
    flex-direction: column;
    
}
.header {
    background: white;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    font-family: 'Vollkorn SC', serif;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}

.app-name {
    height: 100%;
    width: 50vw;
    display: flex;
    align-items: center;
}

.text-container {
    height: 100%;
    width: 50vw;
    display: flex;

}
.logo {
    height: 115px;
    width: 115px;
    top: 23px;
    position: absolute;
    margin: auto
}

.child-button{
    border: 1px solid rgba(0, 238, 255, 0.604);
}
.mui-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-family: 'Vollkorn SC', serif !important;
    
}
.menu-margin {
    height: 13vh;
    background-image: url('./../../img/photo-1506143925201-0252c51780b0.jpg');
    background-size: cover;
    background-position-y: -9.32vh;
    position: fixed;
    top: 80px;
    z-index: 998;
    width: 100%

}
a:visited {
    color: black
}
.home-nav-link:hover {

}