
.search-container {
    font-family: 'Vollkorn SC', serif !important;
}

.search-divider {
    display: flex;

}

.search-by-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%
}
.search-by-input input {
    width: 45%
}
.post-card {
    font-family: 'Vollkorn SC', serif !important;
    
}
/* .results { meida query to display multiple results per line 
    display: flex;
    justify-content: space-around;
} */