.App {
  background-image: url('./img/photo-1506143925201-0252c51780b0.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100%;  
}
.router{
  /* height:50%; */
  min-height: 70.8vh;
  display: flex;
  justify-content: center;
  padding: 3%;
  margin-top: calc(80px + 13vh);
  
}